.details__section {
  background-color: $gray-color;
  color: $dark-color;
  position: absolute;
  width: 100%;
  bottom: -90%;
  transition: $trans-ease;
  @include breakpoint(sm) {
    bottom: -50%;
  }
  .details__data {
    .details__date {
      font-size: 5rem;
      font-family: $Quicksand;
      font-weight: $bold;
    }
    .details__month {
      font-size: 1.2rem;
      font-family: $Comfortaa;
      font-weight: $bold;
    }
    .details__day {
      font-size: $small-font;
      font-family: $Comfortaa;
      font-weight: $bold;
      opacity: 0.7;
    }
    .details__timezone {
      font-size: 1.3rem;
      font-family: $Quicksand;
      font-weight: $bold;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      margin-top: $x-1;
      opacity: 0.7;
      @include breakpoint(xs) {
        font-size: 1rem;
      }
    }
    .details__timezone--text {
      font-size: 2.5rem;
      font-family: $Quicksand;
      font-weight: $bold;
      //   margin-top: $x-0-25;
    }
  }
  .details__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @include breakpoint(sm) {
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
    }
    .details__weather {
      width: 208px;
      .weather__container {
        .weather__icon {
          width: 100px;
        }
        .weather__degree {
          font-size: 2.5rem;
          font-family: $Comfortaa;
        }
      }
      .weather__day--night {
        display: flex;
        justify-content: space-between;
        margin-top: $x-1;
        .weather__night,
        .weather__day {
          .night__text,
          .day__text {
            font-size: $small-font;
            font-family: $Comfortaa;
            font-weight: $bold;
            opacity: 0.7;
          }
          .night__degree,
          .day__degree {
            font-size: $normal-font;
            font-family: $Comfortaa;
            font-weight: $bold;
            margin-top: $x-0-25;
          }
        }
      }
    }
  }
}
.transform-details {
  bottom: 0;
  // @include breakpoint(sm) {
  //   bottom: 0;
  // }
}
